" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
""""""""""""""""""""""""""""""""""""""Configuration""""""""""""""""""""""""""""""""""""""
set showmatch " Show matching brackets

set hlsearch " Highlight search results
set incsearch " Incremental search
set ignorecase " Ignore case when searching
set smartcase " Ignore case if search pattern is all lowercase, case-sensitive otherwise

set commentary " Comment lines with gcc

set relativenumber " Show relative line numbers
set number " Show line number

set clipboard=unnamedplus " Use system clipboard

set which-key
set notimeout " Disable timeout
set timeoutlen=200 " Set timeout length to 1000ms


let mapleader = " "
" edit ideavim config
nnoremap <leader>vv :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

"" Base Shortcuts
imap jk <Esc>

" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Search Files
nmap <leader>sf :action GotoFile<CR>
"" Search everywhere
nmap <leader>sg :action FindInPath<CR>
"" move line up
nmap K :action MoveLineUp<CR>
"" move line down
nmap J :action MoveLineDown<CR>

"" RenameElement
noremap <Space>re :action RenameElement<CR>
"" Rename File
noremap <Space>rf :action RenameFile<CR>

"" ---- Code Actions ----
"" goto definition
noremap <Space>gd :action GotoDefinition<CR>
"" goto declaration
noremap <Space>gD :action GotoDeclaration<CR>
"" goto implementation
noremap <Space>gi :action Implementation(s)<CR>
"" goto type declaration
noremap <Space>gt :action GotoTypeDeclaration<CR>
"" find all references
noremap <Space>fr :action FindUsages<CR>

"" ---- navigation ----
noremap ]b :action NextTab<CR>
noremap [b :action PreviousTab<CR>
" move back and forward ctrl + o and ctrl + i
noremap <C-o> :action Back<CR>
noremap <C-i> :action Forward<CR>

"" ---- util ----
" keep visual mode after indenting
noremap < <gv
noremap > >gv

